.footer {
    display: grid;

    min-height: 100vh;
    padding: 10px;

    place-items: center;
}

.footer__title {
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);

    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
}