.theme-light .header__rec {
    display: none;
}

:root.theme-light {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --menu-color: #353430;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
    --decorated-text-color: #000028;
    --decorated-zone-border-color: #000000;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page {
    /* Вам также нужно будет написать ряд подобных селекторов */
}